<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>
    <h1 class="text-center" style="margin-bottom: 20px; margin-top: 10px;">Tugas PBL 01</h1>
    <div class="d-flex justify-content-center" style="margin-bottom: 10px;">
        <a style="margin-right: 10px;" href="{{ url_for('register') }}" class="btn btn-primary">Register</a>
        <a href="{{ url_for('login') }}" class="btn btn-primary" style="margin-right: 10px;">Login</a>
        <!-- <a href="{{ url_for('log_data') }}" class="btn btn-primary">Log Data</a> -->
    </div>
    <h3 class="text-center">Nama Kelompok</h3>
    <table class="table table-striped">
        <tr>
            <td>1.</td>
            <td>Nuraji Dwi Setiawan  </td>
            <td>211080200003</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>Puja Santoso  </td>
            <td>211080200013</td>
        </tr>
        <tr>
            <td>3.</td>
            <td>Rahmat Syahrur R  </td>
            <td>211080200025</td>
        </tr>
        <tr>
            <td>4.</td>
            <td>Muhammad Surya D F  </td>
            <td>211080200043</td>
        </tr>
        <tr>
            <td>5.</td>
            <td>Firman P  </td>
            <td>211080200055</td>
        </tr>
        <tr>
            <td>6.</td>
            <td>Mochamad Abdul Azis  </td>
            <td>211080200059</td>
        </tr>
        <tr>
            <td>7.</td>
            <td>Dicky samudra  </td>
            <td>211080200067</td>
        </tr>
        <tr>
            <td>8.</td>
            <td>Moch Fani W  </td>
            <td>211080200079</td>
        </tr>
        <tr>
            <td>9.</td>
            <td>Septian Reynaldi P  </td>
            <td>211080200116</td>
        </tr>
        <tr>
            <td>10.</td>
            <td>Auliansyah Islam A  </td>
            <td>181080200071</td>
        </tr>
    </table>
</body>
</html>